[submodule "vim/.vim/pack/dist/start/vim-airline"]
	path = vim/.vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "zsh/.zsh/modules/zsh-syntax-highlighting"]
	path = zsh/.zsh/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/modules/zsh-completions"]
	path = zsh/.zsh/modules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
